doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Sapient Test | Dinesh
    meta(name='description', content='Shopping bags are medium-sized bags, typically around 10–20 litres.')
    meta(name='keywords', content='Shopping, Shopping bag')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=yes')
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/modal-style.css')
    script(type='text/javascript', src='javascripts/jquery.min.js')
    script(type='text/javascript', src='javascripts/modal.js')
    link(href='https://fonts.googleapis.com/css?family=Noto+Sans', rel='stylesheet', type='text/css')
  body
    block content